OPENAI_API_KEY=YOUR_OPENAI_API_KEY
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGSMITH_PROJECT=forgeforce-procurement-dev
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
FORGEFORCE_VERBOSE_WORKFLOW_LOGS=false
FORGEFORCE_CONVERSATION_DEBUG_LOGS=false
#FORGEFORCE_CONVERSATION_DEBUG_LOGS make it to true in case if we want the complete conversation logs a new file will be created in the logs folder
FORGEFORCE_CONVERSATION_DEBUG_MAX_PAYLOAD_CHARS=20000